<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <!--  viewport for mobile users -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- links to our css(optional) and javascript file-->
    <link rel=stylesheet href="{% static 'css/custom_home_css.css' %}" />
    <!-- LOCAL css file load -->
    <link rel=stylesheet href="local/css/custom_home_css.css" />
    <title>Geckos Home</title>

</head>

<body>
    <div class="flex_column">
    <h1>Home Page</h1>
    <li>{{chingu1}}</li>
    <li>{{chingu2}}</li>
    <li>{{chingu3}}</li>
    <li>{{chingu4}}</li>
    </div>

 <div class="flex_column2">
    {% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
</div>
</body>
</html>
