<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <!--  viewport for mobile users -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- links to our css(optional) and javascript file-->
    <link rel=stylesheet href="{% static 'css/custom_home_css.css' %}" />
    <!-- LOCAL css file load
    <link rel=stylesheet href="local/home_css.css" />
  -->
  <!--
  <script type="text/javascript" src="{% static 'js/test_js.js' %}"></script>
-->
    <title>The Code Track</title>

</head>

<body>
    <div>
        <h1>The Code Track</h1>
  <nav style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly;">
       <div>About</div>
       <div>FAQ</div>
       <div>Contact</div>

   {% if user.is_authenticated %}
     Hi {{ user.username }}!
     <p><a href="{% url 'logout' %}">logout</a></p>
   {% else %}
   <!--
     <p>You are not logged in</p>
   -->
   <div>
     <a href="{% url 'login' %}">login</a>
     </div>
     <div>
     <a href="{% url 'signup' %}">signup</a>
     </div>
   {% endif %}

   </nav>
   </div>



<!-- front end script app.js

<script src="{% static 'js/app.js' %}></script>
-->
</body>
</html>
