body {
    background: rgb(245, 248, 248);
    color: rgb(20, 10, 10);
}
.flex_column {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10vh;
}

.flex_column2 {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10vh;
    background: rgb(250, 242, 245);
    color: rgb(15, 0, 15);
    padding: 10px;
}