.faq {
    padding: 25px 100px 100px 100px;
}

a {
    color: inherit;
}

/* NAV items from about.css */


.btn {
    font-weight: bold;
}

.btn-success {
    background-color: #3F8939;
}

.btn-success:hover {
    background-color: #87ECA8;
}

.btn-block {
    padding: 10px 100px;
    margin-bottom: 100px;
}

button:hover {
    background-color: #999999;
}

.card-body {
    background-color: #87ECA8;
}

.card-title, .card-text {
    text-align: center;
}

footer {
    background-color: #87ECA8;
    height: 100px;
    padding: 40px;
    text-align: center;
}



.team {
    text-decoration: none;
}




h1 {
    text-align: center;
}

h5 {
    color: #3F8939;
    padding: 25px 0 10px 0;
}

/* mobile */
@media all and (max-width: 799px) and (min-width: 220px) {
    .faq {
        padding: 0;
    }
     nav {
        padding: 0;
    }

    .container {
        display: block;
    }

    #links_list {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .image {
        width: 100vw;
    }
}
