.faq {
    padding: 25px 100px 100px 100px;
}

/* mobile */
@media all and (max-width: 799px) and (min-width: 220px) {
    .faq {
        padding: 0;
    }

h1 {
    text-align: center;
}

h5 {
    color: #3F8939;
    padding: 25px 0 10px 0;
}