<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <!--  viewport for mobile users -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- links to our css(optional) and javascript file-->

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_signup.css' %}">

    <title>Geckos Home</title>

</head>

<body style="body: 100vw;">

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand logo" href="/"><strong><span class="logo-one">Code</span><span class="logo-two">Track</span></strong></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link item-navs" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link item-navs" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link item-navs" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link item-navs" href="{% url 'metrics' %}">Metrics</a>
                </li>
            </ul>
        </div>
        </nav>
    <div class="flex_column">
<h2 class="banner">Sign up</h2>
  <form method="post">
    {% csrf_token %}
     {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
  </div>
  </body>
  </html>