<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <!--  viewport for mobile users -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- links to our css(optional) and javascript file-->
    <link rel=stylesheet href="{% static 'css/custom_home_css.css' %}" />
     <link rel=stylesheet href="{% static 'css/custom_metrics.css' %}" />
    <!-- LOCAL css file load
    <link rel=stylesheet href="local/home_css.css" />
  -->
  <script type="text/javascript" src="{% static 'js/test_js.js' %}"></script>
    <title>Your Code Track</title>

</head>

<body>
    <div class="flex_column">
    <h1 class="large_h1">Metrics</h1>
    </div>

 <div class="flex_column2">

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  {% for goal in goals_list %}
  <li>{{goal.text}}</li>
  {% endfor %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">signup</a>
{% endif %}

</div>
<div class="flex_column" style="background-image: url({% static 'images/white_willow2.jpg' %}); background-position: center; background-size: cover; height: 100%; width: 100%;">
  <h1 id="test_js"></h1>
  <h2>If image appears, static image link is working.</h2>
</div>

</body>
</html>