<!DOCTYPE html>
{% load static %}

<!--
--------------
user access page.  Set goals, bookmarks, and a to-do list
-------------
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--favicon-->
    <link rel="shortcut icon" type="shortcut icon" href="{% static 'images/CT_favicon.png' %}" />

    <title>CodeTrack</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">



    <!-- Local
    <link rel="stylesheet" href="style.css" />
    -->

    <!-- Django -->

    <link rel=stylesheet href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/metrics_home.css' %}">


      <!-- Javascript -->




     {% if user.is_authenticated %}

       <script type="text/javascript" src="{% static 'js/edit_button.js' %}"></script>

     {% endif %}
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><strong><span class="logo-one">Code</span><span class="logo-two">Track</span></strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'metrics' %}">Metrics</a>
                    </li>
                </ul>
                <div>
                    {% if user.is_authenticated %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'logout' %}">Logout</a></button>
                    {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'login' %}">Login</a></button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'signup' %}">Sign Up</a></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <main class="container">
      <div class="myTrack">
        <div class="row">
          <div class="col-md">

              <!--         GOALS                 -->
              <!--    Set some goals to focus on -->

            <section class="container goals">

              <!--  Each goal requires a separate goal <form> from the backend, form tag removed -->
              <!--
              <h4 id='longtermgoal'> id required for edit function
                         {{ longtermgoal }}
                         </h4>
              -->

                <h3>What is your long-term goal?</h3>
                <div class="form-group">
                     <h4 class="goal_emphasis" id='longtermgoal'>
                         {{ longtermgoal }}
                         </h4>

                     <form action="{% url 'add_GoalOne' %}" method="POST" role="form1">
                            {% csrf_token %}


                        <div class="input-group">
                             {{ form1.text }}


                          <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-success cust" id="add_goal1_btn">Submit</button>
                            <button type="button" class="btn btn-outline-success cust" id="goal1_edit">Edit</button>
                        </div>
                        </div>
                     </form>
                  </div>
                <h3>What is your 3-month goal?</h3>


                <div class="form-group">
                    <h4  class="goal_emphasis" id="threemonthgoal">
                     {{ threemonthgoal }}
                     </h4>
                    <form action="{% url 'add_GoalTwo' %}" method="POST" role="form2">
                            {% csrf_token %}
                            <div class="input-group">
                                {{ form2.text }}


                              <div class="input-group-append">
                              <button type="submit" class="btn btn-outline-success cust" id="add_goal2_btn">Submit</button>
                              <button type="button" class="btn btn-outline-success cust" id="goal2_edit">Edit</button>
                              </div>
                             </div>
                        </form>
                </div>
                <h3>What is your 1-month goal?</h3>
                <h4  class="goal_emphasis" id="shorttermgoal">
                 {{ shorttermgoal }}
                </h4>
                <div class="form-group">
                      <form action="{% url 'add_GoalThree' %}" method="POST" role="form3">
                            {% csrf_token %}
                            <div class="input-group">
                                {{ form3.text }}



                              <button type="submit" class="btn btn-outline-success cust" id="add_goal3_btn">Submit</button>
                              <button type="button" class="btn btn-outline-success cust" id="goal3_edit">Edit</button>


                             </div>
                        </form>


                </div>
            </section>
          </div>
          <!-- removing div results in column like display -->
          </div>
          <br />


          <!-- Bookmarks -->
          <div class="row"> <!-- parent to: bookmarks and todo list -->
           <div class="col-md">
          <section/section class="col-md">
          <section class="container links">
            <div class="card card-body">

                <h3>Save Important links here:</h3>
                <div class="form-group">
                  <!-- Bookmarks Form -->
                 <form action="{% url 'add_Bookmark' %}" method="POST" role="form4">
                    {% csrf_token %}
                    <div class="input_form_column">
                    {{ form4 }}

                     <div class="input-group-append" id="button-addon4">
                     <button  class="btn btn-outline-success cust" id="add-btn">Submit</button>
                     </div>

                    </div>
                 </form>
                    {% for urls in bookmark_list %}
          <div>
            {% if urls.alink and urls.nickname and urls.id %}
            <div class="display_item_outer">

                <li class="display_item_inner_left"><a class="bookmarks_link" href={{ urls.alink }}>{{urls.nickname}}</a></li>
                <span>
                <button type="button" class="btn btn-outline-success cust" id="delete_link"><a  class="delete_link" href="{% url 'delete_Bookmark' urls.id %}">Delete</a></button>
                <button type="button" class="btn btn-outline-success cust"><a href="{% url 'edit_bookmark' urls.id %}">Edit</a></button>
                </span>

                </div>
            {% else %}
            <!-- If user does not have bookmarks stored, put in default bookmarks -->
              <li>{{urls}}</li>
              </div>
            {% endif %}
            {% endfor %}
           </div>
            </div>




          </section>


          <!-- end div col-md -->
          </div>
          <!--  TODO section -->
           <div class="col-md">
          <section class="container links">
            <div class="card card-body">

              <!--- TODO Form --->

                <h3>Add Tasks To Your To-Do List:</h3>
                <div class="form-group">
                <form action="{% url 'addGoal' %}" method="POST" role="form">
                    {% csrf_token %}
                    <div class="input_form">
                    {{ form.text }}

                    <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-success cust" id="add-btn">Submit</button>
                    </div>

                    </div>
                </form>
                </div>



                {% for goal in goals_list %}
                <div class="display_item_outer">
                <li class="display_item_inner_left" id="todo_list_item">{{ goal }}</li>
                {% if goal.id %}
                <span>
                <button type="button" class="btn btn-outline-success cust" id="delete_link"><a  class="delete_link" href="{% url 'deleteGoal' goal.id %}">Delete</a></button>
                <button type="button" class="btn btn-outline-success cust">Edit</button>
                </span>


                {% endif %}
                </div>
                {% endfor %}
                </div>


            </div>
          </section>
        </div>
      </div>
    </main>
    <footer>
        <p>Built by <a href="#" class="team">The CodeTrack Team</a> 🔥</p>
    </footer>

    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>


</html>
