<!DOCTYPE html>
{% load static %}

<!--
   ------------------------------------------------------------------------
   DEMO PAGE  LOGIN, SIGN UP FOR ACCESS TO SAVE, EDIT, and SUBMIT YOUR DATA
   ------------------------------------------------------------------------
   -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--favicon-->
    <link rel="shortcut icon" type="shortcut icon" href="{% static 'images/CT_favicon.png' %}" />

    <title>CodeTrack</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous" />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">

     <!-- font awesome kit -->
    <script src="https://kit.fontawesome.com/b570a31fd0.js" crossorigin="anonymous"></script>

    <!-- Local
    <link rel="stylesheet" href="style.css" />
    -->

    <!-- Django -->
    <link rel=stylesheet href="{% static 'css/style.css' %}" />
      <link rel="stylesheet" href="{% static 'css/metrics_home.css' %}">



  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><strong><span class="logo-one">Code</span><span class="logo-two">Track</span></strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'metrics' %}">Metrics</a>
                    </li>
                </ul>
                <div>
                    {% if user.is_authenticated %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'logout' %}">Logout</a></button>
                    {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'login' %}">Login</a></button>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'signup' %}">Sign Up</a></button>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>


    <main class="container">
        <div class="spacer">
    <h3> Demo</h3>
    <h5> Save your lists and goals by signing up and logging in</h5>
    </div>
      <div class="myTrack">
        <div class="row">
          <div class="col-md">

              <!--                GOALS                   -->
              <!--  Set some goals, focus, follow through -->

            <section class="container goals">
              <form>
                <h3>What is your long-term goal?</h3>
                <h4 class="goal_emphasis">Become a developer!</h4>
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Goal 1"
                      aria-label="Goal 1"
                      aria-describedby="button-addon4"
                    />
                    <div class="input-group-append" id="button-addon4">
                      <button class="btn btn-outline-success cust" type="button">
                        Edit
                      </button>
                      <button class="btn btn-outline-success cust" type="button">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
                <h3>What is your 3-month goal?</h3>
                <h4 class="goal_emphasis">Build a cool project</h4>
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Goal 2"
                      aria-label="Goal 2"
                      aria-describedby="button-addon4"
                    />
                    <div class="input-group-append" id="button-addon4">
                      <button class="btn btn-outline-success cust" type="button">
                        Edit
                      </button>
                      <button class="btn btn-outline-success cust" type="button">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
                <h3>What is your 1-month goal?</h3>
                <h4 class="goal_emphasis">Cook the perfect pancake</h4>
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Goal 3"
                      aria-label="Goal 3"
                      aria-describedby="button-addon4"
                    />
                    <div class="input-group-append" id="button-addon4">
                      <button class="btn btn-outline-success cust" type="button">
                        Edit
                      </button>
                      <button class="btn btn-outline-success cust" type="button">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </section>
          </div>
          </div>
          <br />

          <!--            BOOKMARKS                  -->
          <!-- Save your links for easier retrieval  -->

          <div class="spacer">
            <h3> Bookmarks</h3>
        </div>
          <section/section class="col-md">
          <section class="container links">
            <div class="card card-body">
              <form>
                <h3>Save Important links here:</h3>
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Link to a tutorial or blog"
                      aria-label="Links"
                      aria-describedby="button-addon4"
                    />
                    </div>

                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="nickname for link"
                      aria-label="Nickname"
                      aria-describedby="button-addon4"
                    />

                  </div>
                  <div class="input-group-append" id="button-addon4">
                      <span>
                      <button class="btn btn-outline-success cust" type="button">
                        Submit
                      </button>

                    </div>
                </div>
              </form>
               <div class="display_item_outer">

                <li class="display_item_inner_left"><a href="https://www.khanacademy.org/" class="bookmarks_link" target="_blank">Free: Learn anything, Khan Academy</li></a>
                <span>
                    <button type="button" class="btn btn-outline-success cust">Edit</button>
                    <button type="button" class="btn btn-outline-success cust" id="delete_link"><a class="delete_link">Delete</a></button>
                </span>



                </div>
               <div class="display_item_outer">

                <li class="display_item_inner_left"><a class="bookmarks_link" href="https://www.chingu.io/" target="_blank">Chingu</li></a>

                <span>
                    <button type="button" class="btn btn-outline-success cust">Edit</button>
                    <button type="button" class="btn btn-outline-success cust" id="delete_link"><a class="delete_link">Delete</a></button>
                </span>


                </div>
                <div class="display_item_outer">

                <li class="display_item_inner_left"><a class="bookmarks_link" href="https://shop.learncodethehardway.org/" target="_blank">Learn Code the Hard Way</li></a>

                <span>
                    <button type="button" class="btn btn-outline-success cust">Edit</button>
                    <button type="button" class="btn btn-outline-success cust" id="delete_link"><a class="delete_link">Delete</a></button>
                </span>


                </div>

          </section>
          </div>


          <!--                  TODO                    -->
          <!-- Make a todo list to track your progress  -->

        <div class="spacer">
        <h3> TODO</h3>
        </div>
          <section class="container links">
            <div class="card card-body">
              <form>
                <h3>Add Tasks To Your Todo List:</h3>
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Add A Task"
                      aria-label="ToDO"
                      aria-describedby="button-addon4"
                    />
                    <div class="input-group-append" id="button-addon4">
                      <button class="btn btn-outline-success cust" type="button">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="todo_emphasis">
                <div class="display_item_outer">
                <li class="display_item_inner_left" id="todo_list_item">Defeat the Lioness of WinterBorne</li>
                <span>
                    <button type="button" class="btn btn-outline-success cust">Edit</button>
                    <button type="button" class="btn btn-outline-success cust" id="delete_link"><a class="delete_link">Delete</a></button>
                </span>
                </div>
                <div class="display_item_outer">
                <li class="display_item_inner_left" id="todo_list_item">Create a search algorithm with Javascript</li>
                <span>
                    <button type="button" class="btn btn-outline-success cust">Edit</button>
                    <button type="button" class="btn btn-outline-success cust" id="delete_link"><a class="delete_link">Delete</a></button>
                </span>
                </div>
                <div class="display_item_outer">
                <li class="display_item_inner_left" id="todo_list_item">Submit 10 applications</li>
                <span>
                    <button type="button" class="btn btn-outline-success cust">Edit</button>
                    <button type="button" class="btn btn-outline-success cust" id="delete_link"><a class="delete_link">Delete</a></button>
                </span>
                </div>
                <div class="display_item_outer">
                <li class="display_item_inner_left" id="todo_list_item">Investigate and discover the true secret ingredient in spam</li>
                <span>
                    <button type="button" class="btn btn-outline-success cust">Edit</button>
                    <button type="button" class="btn btn-outline-success cust" id="delete_link"><a class="delete_link">Delete</a></button>
                </span>
                </div>
                </div>
          </section>
        </div>
      </div>
    </main>
    <footer>
        <p>Built by <a href="#" class="team">The CodeTrack Team</a> 🔥</p>
    </footer>

    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
